data/*/*.*
files/neo.*
results/
sandbox/completed/
sandbox/*/*/history_plots/
sandbox/*/*/models/
sandbox/*/*/tra_val_tes_*.json
sandbox/*/*/carryon.txt
.gwf/
.gwfconf.json
.gwf/slurm-backend-tracked.json
backup/scripts/slendr/
backup/scripts/simGL/
**/.DS_Store
**/._.DS_Store
backup/jupyternotebooks/mesoneo_dataexplore.ipynb
backup/jupyternotebooks/neo.impute.1000g.sampleInfo_nospaces.tsv