data/
files/
results/
sandbox/
.gwf/
backup/scripts/slendr/
backup/scripts/simGL/
**/.DS_Store
**/._.DS_Store
backup/jupyternotebooks/mesoneo_dataexplore.ipynb
backup/jupyternotebooks/neo.impute.1000g.sampleInfo_nospaces.tsv